<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Donation Platform website, <%= @organization.org_name %></h1>
    <p>
      Congratulations!  <br />
      Your organization is successfully approved.
      You can now use our owesome Donation Platform, <br />
      your username is: <%= @organization.org_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>