<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Donation Platform website, <%= @organization.org_name %></h1>
    <p>
      Sorry!  <br />
      Your organization is not approved.
      You can not use our owesome Donation Platform, <br />
    </p>

    <p>Best wishes!</p>
  </body>
</html>